body{
  font-family: 'Lora', serif;
}
#container-one {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 118vh;
  padding-top: 16%;
}
h1{
  font-family: 'New Rocker', cursive;
}
#bottom {
  margin-top: 12%;
}
h3 {
  font-weight: bold;
  font-family: 'New Rocker', cursive;
}
#container-one p {
  font-size: 1.6vw;
}
#container-two p {
  font-size: 1.5vw;
}
#container-three {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
#services {
  margin-top: 5%;
}
#container-three p {
  font-size: 1.5vw;
  color: whitesmoke;
}
.hide {
  display: none;
}
h6{
  font-family: 'New Rocker', cursive;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.portfolio {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  transition: all 0.7s ease;
}
.portfoliotag {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 10px;
  padding-top: 30px;
  border: 2px solid whitesmoke;
  font-size: 1.2em;
  line-height: 90%;
  margin: 20% 5%;
  overflow: hidden;
  letter-spacing: 2px;
  font-weight: 100%;
  font-family: 'New Rocker', cursive;
}

#container-six{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
.services{
    margin-top: 5%;
}
#name{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: whitesmoke;
}
#message{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: whitesmoke;

}
#email{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: whitesmoke;
}
.form-control::placeholder{ 
    color: white;
}
button{
    border: none;
    width: 100%;
}
#social-icons img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}
#social-icons img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: -3px;
    padding: 3px;
    background: gray;
}
.copyright p{
  font-family: 'New Rocker', cursive;
}