#container-one {
  background-image: url("/assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 118vh;
  padding-top: 16%;
}
#bottom {
  margin-top: 12%;
}
h3 {
  font-weight: bold;
}
#container-one p {
  font-size: 1.6vw;
}
#container-two p {
  font-size: 1.5vw;
}
#container-three {
  background-image: url("/assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
#services {
  margin-top: 5%;
}
#container-three p {
  font-size: 1.5vw;
  color: whitesmoke;
}
.hide {
  display: none;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.portfolio {
  position: absolute;
  width: 77%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  transition: all 0.7s ease;
}
.ptag {
  padding: 3% 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 5px;
  padding-top: 30px;
  border: 1px solid whitesmoke;
  font-size: 1em;
  line-height: 90%;
  margin: 15% 3%;
  overflow: hidden;
  letter-spacing: 2px;
}
.card img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
   box-shadow: none;
}
